<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Art Poltavsky at your service</h2>
                <hr class="light">
                <p class="text-faded">I make progress in Data Science. Getting bachelor in CS at <a  style="color:whitesmoke;" href="http://sfedu.ru/index_eng.php">SFEDU</a>. Making through serious science at <a style="color:whitesmoke;" href="http://www.cvisionlab.com/">CVisionLab</a>. Interested in Data Visualization and Generative adversarial networks </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Let see what I got!</a>
            </div>
        </div>
    </div>
</section>
