<header>
    <video id="myVideo"
        loop
        muted
        autoplay
        preload="auto"
    >
    <source src="../img/back.mp4" type="video/mp4">    
    </video>

    <div class="header-content">
       
        <div class="header-content-inner">
                <h1 style="font-size: 40em; display:initial;  color:rgb(34,34,34);" >Art<h1 style="background-color:rgba(0, 0, 0, 0.8); color:white; font-size: 10em; display:initial">Intelligence </h1></h1>
                <hr>
                <p><span  style="color:whitesmoke; background-color:rgba(0, 0, 0, 0.8);"> Quality upon quantity. Focused upon fuzzy. Reliable upon rebel</span></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
