
<section class="ftco-section about-section heading-section" >
    <div class="container" id="about">
      <div class="row d-flex" data-scrollax-parent="true">
        <div class="col-md-4 author-img" style="background-image: url(images/ava.jpg);" data-scrollax=" properties: { translateY: '-70%'}"></div>
        <div class="col-md-2"></div>
        <div class="col-md-6 wrap ftco-animate">
          <div class="about-desc">
            <h1 class="bold-text">About</h1>
            <div class="p-5 ">
              <h2 class="mb-5">I'm Art Poltavsky, welcome to my AI jungle! </h2>
							<p style="font-size: 24px;"><i style="color:whitesmoke;"></i>I make progress in Data Science. Getting bachelor in CS at
								 <a  class="email" href="http://sfedu.ru/index_eng.php" style="color:whitesmoke;" >Southern Federal University</a>. Strive to learn concepts and real <strong>magic</strong> underneath research breakthroughs.  Consider myself as practitioner.
									Prefer to work with <em>python</em> and <em>c++</em>. Last projects focused on Computer Vision.  </p>
              <p>Email: <a class="email" href="mailto:artinte7@gmail.com">artinte7@gmail.com</a></p>
              <h3>Currently working from Rostov-on-Don, Russia</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
      <div class="container" id="services">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span>Wanna change the world? Let's do it.</span>
            <h2>What I offer</h2>
          </div>
				</div>

				<div class="center_offer">
					<div class='slick-slide offer_div'>
						<p style="font-size: 20px" class='offer_rect'> solid <i>python</i> and <i>c++</i> skills
							<img class='offer_img' src="../images/skills_1.gif"/>
						</p>
					</div>
					<div class='slick-slide  offer_div'>
							<p style="font-size: 20px" class='offer_rect'> math education background
								<img class='offer_img' src="../images/math.gif"/>
							</p>
					</div>
					<div class='slick-slide  offer_div'>
							<p style="font-size: 20px" class='offer_rect'> expertise in <i>ML</i> and <i>CV</i>
								<img class='offer_img' src="../images/cv_1.gif"/>
							</p>
					</div>
				</div>




				<!--
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Solid skills</h3>
                    <p class="text-muted">Let PEP8 guarantee that</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Fast Implementation</h3>
                    <p class="text-muted">Work per se on a single task at the time</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullseye wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Target Development</h3>
                    <p class="text-muted">MWP first. Bugs and fixes later</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Passiontate Coding</h3>
                    <p class="text-muted">Ideas worth spreading, worth to be coded</p>
                </div>
						</div>
						
        </div> -->
      </div>
    </section>

<section class="ftco-section" id="colorlib-page">
  
 
        <div class="container mt-5">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate" id="portfolio">
              <span>Demo applications</span>
              <h2>Get into the field with this projects</h2>
            </div>
          </div>
          <div class="row no-gutters">
	          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
	            <a href="https://poltavski.github.io/sketcher" class="image d-flex justify-content-center align-items-center" style="background-image: url('images/sketcher.jpg'); " data-scrollax=" properties: { translateY: '-30%'}">
	              <div class="icon d-flex text-center justify-content-center align-items-center">
	                <span class="icon-search"></span>
	              </div>
	            </a>
	            <div class="text">
	              <h4 class="subheading">Demo application</h4>
	              <h2 class="heading"><a href="https://poltavski.github.io/sketcher">sketcher</a></h2>
	              <p>Built with tensorflow. Lightweight model that recognize what you try to draw. Get practice your drawing skills now (hint: draw a kitten) 
	            </div>
	          </div>
	          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
	            <a href="portfolio-single.html" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url('images/work-2.jpg'); " data-scrollax=" properties: { translateY: '-30%'}">
	              <div class="icon d-flex text-center justify-content-center align-items-center">
	                <span class="icon-search"></span>
	              </div>
	            </a>
	            <div class="text order-1">
	              <h4 class="subheading">Application</h4>
	              <h2 class="heading"><a href="portfoli-singleo.html">Even the all-powerful Pointing has no control</a></h2>
	              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text.</p>
	              
	            </div>
	          </div>
	          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
	            <a href="portfolio-single.html" class="image d-flex justify-content-center align-items-center" style="background-image: url('images/work-3.jpg'); " data-scrollax=" properties: { translateY: '-30%'}">
	              <div class="icon d-flex text-center justify-content-center align-items-center">
	                <span class="icon-search"></span>
	              </div>
	            </a>
	            <div class="text">
	              <h4 class="subheading">Web Design</h4>
	              <h2 class="heading"><a href="portfolio-single.html">Even the all-powerful Pointing has no control</a></h2>
	              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text.</p>
	              
	            </div>
	          </div>
	          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
	            <a href="portfolio-single.html" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url('images/work-4.jpg'); " data-scrollax=" properties: { translateY: '-30%'}">
	              <div class="icon d-flex text-center justify-content-center align-items-center">
	                <span class="icon-search"></span>
	              </div>
	            </a>
	            <div class="text order-1">
	              <h4 class="subheading">Application</h4>
	              <h2 class="heading"><a href="portfoli-singleo.html">Even the all-powerful Pointing has no control</a></h2>
	              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text.</p>
	              
	            </div>
	          </div>
	          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
	            <a href="portfolio-single.html" class="image d-flex justify-content-center align-items-center" style="background-image: url('images/work-5.jpg'); " data-scrollax=" properties: { translateY: '-30%'}">
	              <div class="icon d-flex text-center justify-content-center align-items-center">
	                <span class="icon-search"></span>
	              </div>
	            </a>
	            <div class="text">
	              <h4 class="subheading">Animation</h4>
	              <h2 class="heading"><a href="portfoli-singleo.html">Even the all-powerful Pointing has no control</a></h2>
	              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text.</p>
	              
	            </div>
	          </div>
	          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
	            <a href="portfolio-single.html" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url('images/work-6.jpg'); " data-scrollax=" properties: { translateY: '-30%'}">
	              <div class="icon d-flex text-center justify-content-center align-items-center">
	                <span class="icon-search"></span>
	              </div>
	            </a>
	            <div class="text order-1">
	              <h4 class="subheading">Branding</h4>
	              <h2 class="heading"><a href="portfoli-singleo.html">Even the all-powerful Pointing has no control</a></h2>
	              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text.</p>
	              
	            </div>
	          </div>
	        </div>
        </div>
			</section>
			
			<section class="ftco-section">
	      <div class="container mt-5">
	      	<div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <span>Blog</span>
              <h2>only best articles</h2>
            </div>
          </div>
	        <div class="row">
	          <div class="col-md-4 ftco-animate">
	            <div class="blog-entry">
	              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
	              </a>
	              <div class="text p-4 d-block">
	                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-4 ftco-animate">
	            <div class="blog-entry" data-aos-delay="100">
	              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
	              </a>
	              <div class="text p-4">
	                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-4 ftco-animate">
	            <div class="blog-entry" data-aos-delay="200">
	              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
	              </a>
	              <div class="text p-4">
	                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-4 ftco-animate">
	            <div class="blog-entry">
	              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_4.jpg');">
	              </a>
	              <div class="text p-4 d-block">
	                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-4 ftco-animate">
	            <div class="blog-entry" data-aos-delay="100">
	              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_5.jpg');">
	              </a>
	              <div class="text p-4">
	                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-4 ftco-animate">
	            <div class="blog-entry" data-aos-delay="200">
	              <a href="blog-single.html" class="block-20" style="background-image: url('images/image_6.jpg');">
	              </a>
	              <div class="text p-4">
	                <div class="meta mb-3">
	                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
    
