body{
  /* background:#ccc; */
}
.main {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* width:300px; */
  display:block;
  margin: auto;
  padding: auto;
  /* max-height: 250px;  */
}
h3 {
    background: #ffd;
    color: #00ca3b;
    font-size: 2.5vw;
    line-height: 50px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
img {
  max-width:100%;
  max-height:100%;
  
  min-height: 200px;
  /* align-self: center; */
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#ccc;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}
/* .cont{
  max-height: 250px;
} */

.slider-nav{ 
  max-height:550px;
}
.h-fix{ 
  max-height:350px;
  /* text-align: center; */
}
.slick-prev:before {
  content: "◄";
  color: #00ca3b;
  font-size: 2vw;
}

.slick-next:before {
  color: #00ca3b;
  content: "►";
  font-size: 2vw;
}

.sl-img{
  width:50%;
  height:100%;
  margin: 0 auto;
  /* display:inline-block; */
}


/* .slick-active {
  background: red;
} */

/* .slick-active + .slick-active {
  background: blue;
}

.slick-active + .slick-active + .slick-active {
  background: yellow;
}
.slick-current {
  background: green;
} */



.vert_middle{
  vertical-align:middle;
}
h4{
  font-size: 1.2vw;
}



/* start for horizontal bar style*/
/* .wrap {
  position:absolute;
  width:400px;
  height:500px;
  margin:-200px 0 0 -400px;
  margin:30px;
}


.text {
  position:absolute;
  bottom:0;
  left:50%;
  width:170px;
  margin-left:-85px;
}

.text .input {
  width:140px;
  padding:15px;
  border:1px solid #ddd;
  text-align:center;
  font-size:20px;
  font-family:'PT Sans Narrow', sans-serif;
}

.text small {
  display:block;
  text-align:center;
  margin-top:15px;
  font-size:11px;
}

#exp{
  background: url('/gallery/9_basic_french_toast_hostedLargeUrl.jpg');
} */